@{
    ViewData["Title"] = "Strona Główna";
}

<div class="row pt-5">
    <div class="col-md-3 offset-md-1 mr-md-2 text-center bg-primary border border-dark rounded">
        <img width="230" height="200" src="~/img/1.jpeg" class="pt-2">
        <h3>Rejestruj czas</h3>
        <p>Strona umożliwia rejestrowanie czasu pracy!</p>
    </div>
    <div class="col-md-3 offset-md-1 mr-md-2 ml-md-2 text-center bg-primary border border-dark rounded">
        <img width="230" height="200" src="~/img/2.jpg" class="pt-2">
        <h3>Dodawaj czynności</h3>
        <p>Strona pozwala na dodanie twoich codziennych zadań.</p>
    </div>
    <div class="col-md-3 ml-md-2 text-center bg-primary border border-dark rounded">
        <img width="230" height="200" src="~/img/3.jpg" class="pt-2">
        <h3>Rejestruj nadgodziny</h3>
        <p>Strona pozwala na rejestrowanie i odbierania nadgodzin.</p>
    </div>
</div>
