@{
    ViewData["Title"] = "Rejestracja";
}
<div class="container">
    <div class="p-2 pt-md-4 pb-md-3 mx-auto text-center">
        <h1 class="display-4">Rejestracja danych</h1>
    </div>

    <div class="row">

        <div class="col-md-8 order-md-1 mx-auto">
            <form class="needs-validation" action="order.html" method="get" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3 form-group">
                        <label for="firstName">Imie</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Twoje Imie">
                    </div>
                    <div class="col-md-6 mb-3 form-group">
                        <label for="lastName">Nazwisko</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Twoje Nazwisko">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>

                <div class="mb-3 form-group">
                    <label for="address">Ulica Nr. Domu/Nr. Lokalu</label>
                    <input type="text" class="form-control" id="address" placeholder="Ulica NN/NN">
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6 mb-3 form-group">
                            <label for="zip">Koda Pocztowy</label>
                            <input type="text" class="form-control" id="zip" placeholder="NN-NNN">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label for="city">Miasto</label>
                            <input type="text" class="form-control" id="city" placeholder="Miasto">
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mb-3 form-group">
                    <label for="country">Kraj</label>
                    <select class="custom-select d-block w-100" id="country">
                        <option value="">Kraj</option>
                        <option>Polska</option>
                        <option>Anglia</option>
                        <option>Niemcy</option>
                        <option>Francja</option>
                        <option>Stany Zjednoczone</option>
                    </select>
                </div>

                <div class="mb-5">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dataProcessing">
                        <label class="custom-control-label" for="dataProcessing">Wyrażam zgodę na przetwarzanie danych osobowych.</label>
                    </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block mb-3" type="submit">Zarejestruj</button>

            </form>
        </div>
    </div>
</div>